.list{
    font-size: 1.2rem;
}
.list button{
    width: 35px;
    height:35px
}

.list.done .to-list-item{
    text-decoration: line-through;
}

.list.important .to-list-item{
    font-weight: bold;
    color: rgb(5, 112, 201);
}

.btn-imp{
    margin-right: 3px;
}